<%- include('../partials/header.ejs', {obj: obj}) %>

<div class="u-container">

    <div class="heading">
        <h1 class="heading__heading-primary">Blog Articles</h1>
        <a href="/articles/new" class="btn btn--green">New Article</a>
    </div>
    
    <div class="articles-container">
        <% articles.forEach(article => { %>
    
            <div class="card">
    
                <h2 class="card__title u-margin-bottom-small"> 
                    <%= article.title %> 
                </h2>

                <div class="card__image-container">
                    <img src="<%= article.image %> " alt="blog-image">
                </div>
    
                <div class="card__date u-text-muted u-margin-bottom-small">
                    <%= article.createdAt.toLocaleDateString() %> 
                </div>
    
                <div class="card__text">
                    <%= article.description %> 
                </div>

                <a href="/articles/<%= article.slug %>" class="btn btn--blue">Read More</a>
                <a href="/articles/edit/<%= article.id %>" class="btn btn--yellow">Edit</a>
                <form class="u-form-ctrl-inline" action="/articles/<%= article.id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn--red btn--submit">Delete</button>
                </form>
                <!-- <a href="/" class="btn btn--red">Delete</a> -->
            </div>
        <% }) %> 
    </div>
</div>


<%- include('../partials/footer.ejs') %>