<%- include('../partials/header.ejs') %>

<div class="u-container">
    <h1 class="card__title u-margin-bottom-small"> 
        <%= article.title %> 
    </h1>

    <div class="card__date u-text-muted u-margin-bottom-small">
        <%= article.createdAt.toLocaleDateString() %> 
    </div>

    <a href="/" class="btn btn--grey">All Articles</a>
    <a href="/articles/edit/<%= article._id %>" class="btn btn--blue">Edit</a>

    <div class="card__text">
        <%- article.sanitizedHTML %> 
    </div>
</div>





<%- include('../partials/footer.ejs') %>