<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs', {obj: obj}) %>

<div class="u-container">
    <h1 class="card__title u-margin-bottom-small"> 
        <%= article.title %> 
    </h1>

    <div class="card__date u-text-muted u-margin-bottom-small">
        <%= article.createdAt.toLocaleDateString() %> 
    </div>

    <div class="card__image-container">
        <img src="<%= article.image %> " alt="blog-image">
    </div>

    <a href="/blog" class="btn btn--blue">Back To All Articles</a>

    <div class="card__text">
        <%- article.sanitizedHTML %> 
    </div>
</div>